/* nav bar */

.navbar {
  background: #000000; 
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 999;

}

body {
  padding-top: 80px; 
}

.navbar a {
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 999;
  color: #ffffff; 
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-left: 20px; 
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal; 
}

.f1-logo {
  height: 30px; 
  margin-right: 10px; 
}




/* driver section */

.container {

  margin: 0 auto;
  height: 60vh;
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  padding: 0 50px;
  align-items: center;
}

/* Google Font for player names */
.player-name {
  font-family: "Contrail One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: center; /* Center align text */
  margin-left: 60px; /* Shift text to the right */
  /*white-space: nowrap; /* Prevent text from wrapping */

}

/* Card styling */
.card {
  text-align: center; /* Center align text */
  border: none; /* Remove border */
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  padding: 10px; /* Optional padding to adjust centering */
}


/* Image wrapper for circular images */
.image-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%; /* Make the wrapper circular */
  margin: 0 auto; /* Center the image wrapper */
}

/* Racer image styling */
.racer-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
  transition: border-color 0.3s; /* Smooth transition for border color */
  border: none;
  outline: none;
}


.image-wrapper {
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.image-wrapper:hover {
  transform: scale(1.1); /* Enlarge the image on hover */
}









/* upload*/


.dropzone {
  margin-top: 65px;
  border: 2px dashed; /* Red dashed border */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  height: 300px;
}

.dropzone img {
  width: 120px;
  margin-bottom: 10px;
}

.note {
  color: #555555; /* Dark gray text color */
  font-size: 14px;
}

/* Submit button */
#submitBtn {
  width: 100%;
  height: 60px;
  margin-left: 0;
  padding: 12px 20px;
  font-size: 22px;
  font-family: "Contrail One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 8px;
  background-color: #13f013; /* Red background */
  color: #ffffff; /* White text color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 400px;
}

#submitBtn:hover {
  background-color: #6cc26c; /* Darker red on hover */
}

/* Error message */
.error {
  background-color: #ffcccc; /* Light red background */
  padding: 15px;
  border: 1px solid #ff0000; /* Red border */
  border-radius: 8px;
  color: #cc0000; /* Red text color */
  font-size: 16px;
  margin-top: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 600px;
  width: 350px;
}

.row {
  display: flex;
  justify-content: center; /* Center the content horizontally */
}

/* Result holder */
#resultHolder {
  height: auto;
  background-color: #e6e6e6; /* Light gray background */
  border-radius: 8px;
  padding: 10px;
  margin-top: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* max-width: 400px; */
  width: 300px;
  margin-right: 600px;
}

#resultText {
  margin-top: 70px;
  font-size: 18px; /* Font size */
  font-weight: bold; /* Bold font weight */
  text-align: center; /* Center text alignment */
  margin-top: 20px; /* Top margin */
  padding: 10px; /* Padding */
  background-color: #f5f5f5; /* Light gray background */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  color: #333333; /* Text color */
}

#resultHolder .player-name {
  color: #ffffff;
}







/* Footer Section */

.footer__container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer__container h2 {

  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal; 

}

.footer__links {
  flex: 1;
}

.about-us-links {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add margin to create space between image and text */
}

.about-us-links img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.about-us-links p {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.social__media {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.social__icons {
  display: flex;
  gap: 10px;
  justify-content: left; /* Center the social icons horizontally */
  margin-left: 20px;
}

.social__icon--link {
  color: #333;
  font-size: 24px;
  text-decoration: none;
}

.social__icon--link:hover {
  color: #0077b5; /* LinkedIn blue color */
}



/* Media query for mobile devices */

@media (max-width: 768px) {

  .navbar {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
  }

  .navbar a {
    margin-left: 70px;
  }

  body {
    padding-top: 60px;
  }

  .navbar a {
    font-size: 1.2rem;
  }

  .navbar-brand {
    padding-left: 10px;
  }

  .f1-logo {
    height: 25px;
  }

  .container {
    display: none;
    padding: 0 30px;
  }

  .player-name {
    font-size: 0.7rem;
    text-align: left;
  }

  .image-wrapper {
    width: 85px;
    height: 85px;
  }

  .dropzone {
    width:300px;
    margin-left: 50px;
  }

  .dropzone img {
    width: 140px;
    height: auto;
  }

  .note {
    color: #555555; /* Dark gray text color */
    font-size: 18px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  #submitBtn {
    width: 300px;
    height: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
  }


  #submitBtn p {
    font-size: 15px;
    text-align: center;
    margin: 0; /* Optionally remove any default margins */
  }

  #resultHolder{
    /* display: flex; */
    width: 300px;
    background-color: #e6e6e6; /* Light gray background */
    border-radius: 8px;
    padding: 5px;
    margin-left: 480px;
    margin-top: 70px;
    margin-right: 520px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;

  }

  .error {
    background-color: #ffcccc; /* Light red background */
    padding: 15px;
    border: 1px solid #ff0000; /* Red border */
    border-radius: 8px;
    color: #cc0000; /* Red text color */
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-left: 570px;
    width: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #resultHolder .player-name {
    color: #ffffff;
  }

  #resultHolder .image-wrapper {
    width: 170px;
    height: 170px;
    justify-content: center; /* Center the image horizontally */
    align-items: center;     /* Center the image vertically */

  }

  .about-us-links {
    display: flex;        /* Use flexbox */
    align-items: center;  /* Align items vertically */
    justify-content: center; /* Center content horizontally */
  }

  .creator-image {
    width: 150px;         /* Set the width of the image */
    height: auto;         /* Maintain aspect ratio */
    margin-right: 20px;   /* Add some space between the image and text */
  }
  
  .about-us-links p {
    margin-top: 40px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;        /* Remove default margin */
    margin-bottom: 0;     /* Remove default margin */
    width: 300px;
  }
  
  .social__media {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .social__icons {
    display: flex;
    gap: 10px;
    justify-content: left; /* Center the social icons horizontally */
    margin-left: 220px;
    margin-top: 0px;
  }
  
  .social__icon--link {
    color: #333;
    font-size: 24px;
    text-decoration: none;
  }
  
  .social__icon--link:hover {
    color: #0077b5; /* LinkedIn blue color */
  }





  


}
